@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #f2f2f2;
}

.main-header {
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: #333333;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.main-header .brand {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 2rem;
}
.main-header .main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5rem;
}
.main-nav .nav-link {
  list-style: none;
  padding: 1rem;
  opacity: 0;
}
.nav-link a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #f2f2f2;
}

section {
  min-height: 100vh;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
.title-header {
  font-weight: 300;
  font-size: 4.5rem;
}
.title-header .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 1.6px;
  padding-right: 0.8px;
  padding-bottom: 2.4px;
  line-height: 1rem;
}
.title-header .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #f2f2f2;
  transform-origin: 0.1 0;
}
.title-header .letters {
  display: inline-block;
  opacity: 0;
}

.hero-section {
  position: fixed;
  top: 0;
  z-index: -1;
}
.hero-section img {
  width: 100%;
}
.hero-section svg {
  font-family: "Lobster";
  font-size: 7rem;
  font-weight: bold;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
}
.hero-section svg text {
  transition: ease-in-out 1s;
  transform-origin: center;
}
.hero-section svg rect {
  mask: url(#mask);
}
.hero-section svg mask rect {
  fill: white;
}

.entry {  
  display: flex;
  flex-wrap: nowrap;
  background-color: #272727;
}

.entry1 {
  flex: 33.3%;
  padding: 10px;
}

.entry2 {
  flex: 33.3%;
  padding-left: 5px;
}

.entry3 {
  flex: 33.3%;
  padding-right: 10px;
}

.article-section {
  display: list-item;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  grid-gap: 2rem;
  padding: 2rem;
  background-color:#272727;
  /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);  */
}
.article {
  display: flex;
  width: 350px;
  border-style: solid;
  border-width: 3px;
  background-color: #dadada;
  color:#272727;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
}
.article img {
  width: 100%;
  transition: all ease-in-out 0.3s;
}
.article-body h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: all ease-in-out 0.3s;
}
.article-body p{
  text-decoration: none;
  color: black;
}
.article-body a{
  font-size: 17px;
}
.article .article-body {
  padding: 2rem;
  text-align: justify;
  transition: all ease-in-out 0.3s;
}
.article:hover img {
  transform: scale(1.1);
}
.article:hover h3 {
  transform: translateY(-0.5em);
}
.article:hover .article-body {
  transform: translateY(0.5em);
} 
.footer {
  left: 0;
  position: initial;
  bottom: 0;
  width: 100%;
  background-color: #1e0000;
  line-height: 37px;
  font-size: 23px;
  padding: 24px;
}
/*  */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/*  */
.accordion {
  background-color: #dadada;
  color: #272727;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #dadada;
}

.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0px 20px;
  color: #272727;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#myTick {
  display: none;
}
